@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;


}

li,a,button {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    background-color: #e2e2e2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: #e2e2e2;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(105, 0, 131);
}

button {
    padding: 15px 25px;
    background-color: #e2e2e2(124, 124, 124);
    border:  none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: 	#000000;
    background-color: #40ff00;
}

button:hover{
    color: rgb(105, 0, 131);
}

img {
    background-color: #e2e2e2;
    display: flex;
}

.logo {
    cursor: pointer;
}

textarea{
    border-radius: 5px;
    border-radius: 5px;
}

.about {
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 5% 5%;
    padding-right: 60%;
    margin-right: 60%;
    padding-right: 2%; 
}

.about_ilumin{
    padding: 5% 5%;
    text-align:center
}

.aboutH {
    padding: 2% 5%; 
}

.input {
    margin-top: 20%;
    display: flex; 
    align-items: center; 
    padding-left: 40% ;
    gap: 10px;
}

.buttonNewPage {
    display: inline-block;
    background-color: #e2e2e2;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 18%;
    margin-left: 62%;
    position: absolute;

}

.speedControl{
    display: flex;
    gap: 5px;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
  }
  

.pauseControl {
    display: none;
  }